.mg1Card {
  width: 40%;
  margin-left: 4%;
  float: left;
  position: relative;
  height: 400px;
  overflow-y: auto;
}

.mg1CardTitle {
  background-color: #e91e63;
  width: 100%;
  top: -10px;
  color: #fff;
  font-size: 1em;
  font-weight: lighter;
}

.md1Card {
  width: 40%;
  margin-left: 4%;
  position: relative;
  float: left;
  height: 400px;
  overflow-y: auto;
}

.md1CardTitle {
  background-color: #e91e63;
  width: 100%;
  top: -10px;
  color: #fff;
  font-size: 1em;
  font-weight: lighter;
}

.mekCard {
  width: 40%;
  margin-left: 4%;
  position: relative;
  float: center;
  margin: auto;
  height: 400px;
  overflow-y: auto;
  top: 30px;
}

.mekCardTitle {
  background-color: #e91e63;
  width: 100%;
  top: -10px;
  color: #fff;
  font-size: 1em;
  font-weight: lighter;
}
